<h1>Welcome to EducStrat!</h1>

<div id="search-section">
  <form id="form" action="/main" method="POST">
    <div>
      <label for="school">Find your school/university<br>
      <input type="text" id="searchSchool" name="school"
      placeholder="Enter a school...">
      <ul id="listeSchool" class="list-group"></ul>
      {{!-- <datalist id="listeSchool"></datalist> --}}
    </div>
    <div>
      <label for="jobTitle">Find your job<br>
      <input type="text" id="searchJob" name="jobTitle"
      placeholder="Enter a job...">
      <ul id="listeJob" class="list-group"></ul>
      {{!-- <datalist id="listeJob"></datalist> --}}
    </div>
    <button type="submit">Search</button>
  </form>
</div>
<ul id="listeSchool"></ul>
<ul id="listeJob"></ul>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
<script src="/javascripts/searchSchool.js"></script>
<script src="/javascripts/searchJob.js"></script>