<style>
    min-width: 300px;
    max-width: 800px;
    height: 400px;
    margin: 1em auto;
    border: 1px solid silver;
    }

    #csv {
        display: none;
    }
</style>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/sankey.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container"></div>
{{#each ProfileCurricularModel}}
<p>{{this.curriculumJobs.0.from.company}} to {{this.curriculumJobs.0.to.company}}</p>
{{/each}}
<script>
    var ProfileCurricularModel = {{{ ProfileCurricularModel }}}
    var target = "Capgemini";
    var results = [];


    targetProfiles = ProfileCurricularModel.filter(o => this.curriculumJobs.Object.keys(o).some(k => o[k].toLowerCase().includes(target.toLowerCase())));

    targetProfiles.forEach(sc => {
        sc.curriculumJobs.forEach(job => {
            if (job.from.company && job.to.company) {
                results.push([job.from.company, job.to.company, 1]);
            }
        });
    });



    Highcharts.chart('container', {

        title: {
            text: 'Results'
        },
        series: [{
            keys: ['from', 'to', 'weight'],
            data: results.slice(600, 700),
            type: 'sankey',
            name: 'Sankey demo series'
        }]

    });


</script>